/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

body, html {
  box-sizing: border-box;
  background-color:  hsl(47, 88%, 63%);
  font-family: 'Figtree', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
