<footer>
    <div class="social-media-container">
        <h2>Stay up to date on what we are doing!</h2>

        <ul>
            <li>
                <a href="https://www.facebook.com/franklin.maciasavellan/" target="_blank">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/FrankDavic" target="_blank">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/franklin-david-macias-avellan-704030188/" target="_blank">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/franklin.macias864/" target="_blank">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
    <p class="copy-right">
        {{ year }} - Franklin David Macias Avellan
    </p>
</footer>