<header>
  <nav class="header__nav">
    <div class="header__logo">
      <h4>Sushiman</h4>
      <div class="header__logo-overlay"></div>
    </div>
    <ul class="header__menu">
      <li>
        <a href="#">Menu</a>
      </li>
      <li>
        <a href="#">Food</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <img src="/assets/search.svg" alt="search">
      </li>
    </ul>
    <ul class="header__menu-mobile">
      <li>
        <img src="/assets/menu.svg" alt="menu">
      </li>
    </ul>
  </nav>
</header>
